@import url(//font.elice.io/EliceDigitalBaeum.css);
html, body {
    font-family: "Elice Digital Baeum",sans-serif;
  }
nav{
    background-color: gray;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    margin: 5px;

    display: block;
    color: white;
    text-decoration: none;
}
main{
    margin: 10px;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 25px;
}
footer{
    background-color: #cacaca;
    margin-top: 30px;
    padding: 10px;
}